@mixin pseudoElement(
  $w: initial,
  $h: initial,
  $t: initial,
  $l: initial,
  $r: initial,
  $b: initial
) {
  content: "";
  width: $w;
  height: $h;
  position: absolute;
  top: $t;
  left: $l;
  right: $r;
  bottom: $b;
}

@mixin position(
  $p: absolute,
  $t: initial,
  $l: initial,
  $b: initial,
  $r: initial
) {
  position: $p;
  top: $t;
  left: $l;
  bottom: $b;
  right: $r;
}

@mixin responsive($breakPoint) {
  @if ($breakPoint == 350) {
    @media (max-width: 1300px) {
      @content;
    }
  }

  @if ($breakPoint == 450) {
    @media (min-width: 371px) and (max-width: 1300px) {
      @content;
    }
  }

  @if ($breakPoint == 650) {
    @media (min-width: 577px) and (max-width: 1300px) {
      @content;
    }
  }

  @if ($breakPoint == 850) {
    @media (min-width: 769) and (max-width: 1300px) {
      @content;
    }
  }

  @if ($breakPoint == 1050) {
    @media (min-width: 992) and (max-width: 1300px) {
      @content;
    }
  }

  @if ($breakPoint == 1250) {
    @media (min-width: 1181) and (max-width: 1300px) {
      @content;
    }
  }
}
